body {
  background-color: #ababab;

}

.topic {
  font-family: Dogtown;
  text-align: center;
  font-size: 33px;  
  margin-bottom: 20px;
  color: rgb(20, 20, 20); 
  text-shadow: 3px 2px 6px;


}


.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  flex: 3;
  padding: 20px;
}

.warenkorb {
  flex: 1;
  padding: 20px;
  background-color: #939292;
  border-left: 1px solid #585858;
}

/*.container {

  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}
*/
