body {
  background-color: #ababab;

}

.topic {
  
  text-align: center;
  font-size: 33px;  
  margin-bottom: 20px;
  color: rgb(20, 20, 20); 
  text-shadow: 3px 2px 6px;


}



.container {

  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

