@font-face {
  font-family: Dogtown;
  src: url(C:\Users\wille\Cars\CARS\autowagen-app\src\styles\dogtown-typewriter\Dogtown.ttf);
}

body {
  background-color: rgb(160, 160, 160);
}



.product {
    background-color: rgb(123, 123, 123);
    font-family: Dogtown;
    color: rgb(44, 44, 44);
    border: 1px solid #d1d1d1;
    padding: 16px;
    text-align: center;
    margin: 16px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .product-image {
    width: 300px;
    height: auto;
  }
  
  h2 {
    color: rgba(60, 60, 60, 0.84);
    font-size: 1.5em;
    margin: 0.5em 0;
    
  }
  
  p {
    color:rgb(32, 32, 32);
    margin: 0.5em 0;
  }
  .product:hover {
  background-color: #f1f1f1; /* Change background color on hover */
}

.product:hover h2 {
  color: #ff0000; /* Change h2 color on hover */
}

.product:hover p {
  color: #0000ff; /* Change p color on hover */
}

button {
  background-color: #555555;
  color: rgb(213, 213, 213);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #45a049;
}